<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div id="main-wrapper">

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Main content -->
    <div class="compny-profile">

        <!-- SUB Banner -->
        <div class="profile-bnr user-profile-bnr">
            <div class="container">
                <div class="pull-left">
                    <h2>Registration</h2>
                </div>
            </div>
        </div>

        <!-- Profile Company Content -->
        <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">

                    <!-- Nav Tabs -->
                    <div class="col-md-12">
                        <ul class="nav nav-tabs not-clickable">
                            <li class="active"><a>Step 1</a></li>
                            <li><a>Step 2</a></li>
                            <li><a>Step 3</a></li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="col-md-12">
                        <div class="tab-content">

                            <!-- Registration form -->
                            <div id="contact" class="tab-pane fade in active">
                                <div class="profile-main">
                                    <h3>Volunteer Registration</h3>
                                    <div class="profile-in">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis
                                            tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum
                                            cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus
                                            eaque, quas magni.</p>

                                        <div class="alert alert-error" th:if="${error}" th:text="${error}"></div>

                                        <form action="#" th:action="@{/registration/volunteer/step2}"
                                              th:object="${volunteer}" method="post" class="volunteer-form">


                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <h4>Choose your skills</h4>
                                                    <select id="select-state" name="state[]"
                                                            multiple="multiple"
                                                            class="demo-default"
                                                            required="required"
                                                            data-validation="required"
                                                            data-validation-length="min1"
                                                            data-validation-error-msg="Please select a state"
                                                            placeholder="Choose your skills (max 5)"
                                                            th:field="*{volunteerSkills}">

                                                        <option th:each="skill : ${skills}"
                                                                th:value="${skill.id}"
                                                                th:text="${skill.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                                </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <h4>Your location and language</h4>
                                                    </div>
                                                </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <select id="select-country"
                                                            multiple="multiple"
                                                            class="demo-default"
                                                            data-validation="required"
                                                            data-validation-length="min1"
                                                            required="required"
                                                            placeholder="Select your country"
                                                            th:field="*{country}">
                                                        <option th:each="country : ${T(com.codecool.volunti.model.enums.Country).values()}"
                                                                th:value="${country}"
                                                                th:text="${country}">
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-4">
                                                    <select id="select-language"
                                                            multiple="multiple"
                                                            class="demo-default"
                                                            data-validation="required"
                                                            data-validation-length="min1"
                                                            required="required"
                                                            placeholder="Spoken languages"
                                                            th:field="*{spokenLanguages}">
                                                        <option th:each="language : ${T(com.codecool.volunti.model.enums.SpokenLanguage).values()}"
                                                                th:value="${language}"
                                                                th:text="${language}">
                                                        </option>
                                                    </select>
                                                    <script src="/assets/js/custom.js"></script>
                                                </div>
                                            </div>

                                            <div class="row">
                                            <div class="col-sm-4">
                                            <h4>Date of birth (example: 01/04/2010)</h4>
                                            <input type="date" required="required" placeholder="YYYY/MM/DD"
                                            th:field="*{dateOfBirth}"
                                                   data-validation="required"
                                                   data-validation-length="min1"
                                                   data-validation-error-msg="Please select a date"/>
                                                <div class="alert alert-error alert-dismissible" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date Error</div>
                                            </div>
                                                </div>
                                            <h4>Write a life motto</h4>
                                            <div class="row">
                                                <div class="col-sm-8">
                                            <textarea
                                                      required="required" minlength="1"
                                                      data-validation="required"
                                                      data-validation-length="min1"
                                                      data-validation-error-msg="Please select a state"
                                                      placeholder="Your motto (min. 1 character)"
                                                      th:field="*{motto}"></textarea>
                                            <h4>Your interests</h4>
                                            <textarea
                                                    required="required" minlength="1"
                                                      data-validation="required"
                                                      data-validation-length="min1"
                                                      data-validation-error-msg="Please select a state"
                                                      placeholder="Your interest (min. 1 character)"
                                                      th:field="*{interest}"></textarea>

                                                    </div>
                                                </div>

                                            <button id="submitButton" type="submit"
                                                    class="btn mb20 btn-large btn-primary">submit
                                            </button>
                                        </form>
                                        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
                                        <script>
                                            $.validate({
                                                form: ".volunteer-form",
                                                borderColorOnError: '#F00',
                                                validateOnBlur: true, // disable validation when input looses focus
                                            });
                                        </script>


                                    </div>
                                </div>
                            </div>
                            <!-- / Registration form -->

                        </div>
                    </div>
                    <!-- / Tab Content -->
                </div>
            </div>
        </div>
        <!-- / Profile Company Content -->
    </div>
    <!-- / Main content -->
</div>
<!-- / Main wrapper -->

<!--  Footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="/assets/js/custom.js"></script>
</body>
</html>
