<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <!--Navbar-->
    <div th:fragment="navbar">

        <div class="box-shadow-for-ui">
            <div class="uou-block-2b">
                <div class="container">
                    <a th:href="@{/}" class="logo"><img src="/assets/images/logo.png" alt="" /></a>
                    <a th:href="@{/}" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

                    <nav class="nav">
                        <ul class="sf-menu">
                            <li class="active">
                                <a href="index.html"><i class="fa fa-home"></i></a>
                            </li>
                            <li>
                                <a href="listing-filter.html">Professionals</a>
                            </li>
                            <li>
                                <a th:href="@{/}">Pages</a>
                                <ul>
                                    <li>
                                        <a href="profile_company.html">Profile
                                            Company</a>
                                    </li>
                                    <li>
                                        <a href="profile_company-no-tabs.html">Profile
                                            Company No Tabs</a>
                                    </li>
                                    <li>
                                        <a
                                                href="user-dashboard(connections)(hotkeys-disabled).html">User
                                            Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a
                                                href="user-dashboard(connections)(hotkeys-enabled).html">User
                                            Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a
                                                href="user-dashboard(followers).html">User
                                            Dashboard 3</a>
                                    </li>
                                    <li>
                                        <a
                                                href="user-dashboard(following).html">User
                                            Dashboard 4</a>
                                    </li>
                                    <li>
                                        <a href="blog-post.html">Blog Post</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="user-profile(layout-1).html">User
                                    Profile</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="gui-kit.html">GUI KIT</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--  end .uou-block-2b -->
        </div>

    </div>
</body>
</html>