<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"> </head>

<body>
    <div id="main-wrapper">

        <!-- Navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- Main content -->
        <div class="compny-profile">

            <!-- SUB Banner -->
            <div class="profile-bnr user-profile-bnr">
                <div class="container">
                    <div class="pull-left">
                        <h2>Registration</h2>
                    </div>
                </div>
            </div>

            <!-- Profile Company Content -->
            <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
                <div class="container">
                    <div class="row">

                        <!-- Nav Tabs -->
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#step1">Step 1</a></li>
                                <li><a data-toggle="tab" href="#step2">Step 2</a></li>
                            </ul>
                        </div>

                        <!-- Tab Content -->
                        <div class="col-md-12">
                            <div class="tab-content">

                                <!-- Registration form -->
                                <div id="contact" class="tab-pane fade in active">
                                    <div class="profile-main">
                                        <h3>Register your organisation!</h3>
                                        <div class="profile-in">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>



            <form action="#" th:action="@{/registration/organisation/step1}" th:object="${organisation}" method="post">

                <input type="hidden" th:field="*{organisationId}" />

                <input type="text" required="required" autofocus="autofocus" placeholder="name of your organisation" value="" th:field="*{name}"/>

                <input type="text" required="required" value="" placeholder="category of your organisation" th:field="*{category}"/>

                <h4>Address</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" required="required" value="" placeholder="country" th:field="*{country}"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" required="required" value="" placeholder="ZIP" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" required="required" value="" placeholder="city" th:field="*{city}"/>
                    </div>
                </div>
                <input type="text" required="required" value="" placeholder="address" th:field="*{address}"/>

                <input type="text" required="required" value="" placeholder="spoken languages at your organisation" th:field="*{spokenLanguage}"/>

                <h4>Purpose and mission</h4>
                <input type="text" required="required" value="" placeholder="the organisation's mission statement" th:field="*{mission}"/>
                <input type="text" required="required" value="" placeholder="What kind of help do you need?" th:field="*{description1}"/>
                <input type="text" required="required" value="" placeholder="What can volunteers learn here?" th:field="*{description2}"/>

                <button type="submit" class="btn mb20 btn-large btn-primary">next</button>
            </form>


                                        </div>
                                    </div>
                                </div>
                                <!-- / Registration form -->

                            </div>
                        </div>
                        <!-- / Tab Content -->
                    </div>
                </div>
            </div>
            <!-- / Profile Company Content -->
        </div>
        <!-- / Main content -->
    </div>

    <!--  Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>