<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div id="main-wrapper">





<!--_______________________________________________________________________________________________________________________________________________________-->
                             <!--Jobs -->
                            <!--<div id="jobs" class="tab-pane fade">-->
                                <!--<div class="header-listing">-->
                                    <!--<h6>Sort by</h6>-->
                                    <!--<div class="custom-select-box">-->
                                        <!--<select name="order" class="custom-select">-->
                                            <!--<option value="0">Most popular</option>-->
                                            <!--<option value="1">The latest</option>-->
                                            <!--<option value="2">The best rating</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<ul class="listing-views">-->
                                        <!--<li class="active"><a href="#"><i class="fa fa-list"></i></a></li>-->
                                        <!--<li><a href="#"><i class="fa fa-th"></i></a></li>-->
                                        <!--<li><a href="#"><i class="fa fa-th-large"></i></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div class="listing listing-1">-->
                                    <!--<div class="listing-section">-->
                                        <!--<div class="listing-ver-3">-->
                                            <!--<div class="listing-heading">-->
                                                <!--<h5>Front-End Web Developer</h5>-->
                                                <!--<ul class="bookmark list-inline">-->
                                                    <!--<li><a href="#"><i class="fa fa-bookmark"></i></a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-eye"></i></a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-share"></i></a></li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                            <!--<div class="listing-inner">-->
                                                <!--<div class="listing-content">-->
                                                    <!--<h6 class="title-company">Mars Planet Telecommunications Inc.</h6>-->
                                                    <!--<span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>-->
                                                    <!--<p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>-->
                                                    <!--<h6 class="title-tags">Skills required:</h6>-->
                                                    <!--<ul class="tags list-inline">-->
                                                        <!--<li><a href="#">Javascript</a></li>-->
                                                        <!--<li><a href="#">Wordpress</a></li>-->
                                                        <!--<li><a href="#">Presta</a></li>-->
                                                        <!--<li><a href="#">Sass</a></li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="listing-tabs">-->
                                                <!--<ul>-->
                                                    <!--<li><a href="#"><i class="fa fa-envelope"></i> email@mail.com</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-phone"></i> 012 345 678</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-globe"></i> www.webstite.com</a></li>-->
                                                    <!--<li class="share-button"> <a href="#"><i class="fa fa-share"></i> Share</a>-->
                                                        <!--<div class="contact-share">-->
                                                            <!--<ul>-->
                                                                <!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>-->
                                                            <!--</ul>-->
                                                        <!--</div>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="listing-ver-3">-->
                                            <!--<div class="listing-heading">-->
                                                <!--<h5>Front-End Web Developer</h5>-->
                                                <!--<ul class="bookmark list-inline">-->
                                                    <!--<li><a href="#"><i class="fa fa-bookmark"></i></a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-eye"></i></a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-share"></i></a></li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                            <!--<div class="listing-inner">-->
                                                <!--<div class="listing-content">-->
                                                    <!--<h6 class="title-company">Mars Planet Telecommunications Inc.</h6>-->
                                                    <!--<span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"> Full Time </span>-->
                                                    <!--<p>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio pellentesque habitant morbi tristique senectus et netus et malesuada. <a href="single_job.html">read more</a></p>-->
                                                    <!--<h6 class="title-tags">Skills required:</h6>-->
                                                    <!--<ul class="tags list-inline">-->
                                                        <!--<li><a href="#">Javascript</a></li>-->
                                                        <!--<li><a href="#">Wordpress</a></li>-->
                                                        <!--<li><a href="#">Presta</a></li>-->
                                                        <!--<li><a href="#">Sass</a></li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="listing-tabs">-->
                                                <!--<ul>-->
                                                    <!--<li><a href="#"><i class="fa fa-envelope"></i> email@mail.com</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-phone"></i> 012 345 678</a></li>-->
                                                    <!--<li><a href="#"><i class="fa fa-globe"></i> www.webstite.com</a></li>-->
                                                    <!--<li class="share-button"> <a href="#"><i class="fa fa-share"></i> Share</a>-->
                                                        <!--<div class="contact-share">-->
                                                            <!--<ul>-->
                                                                <!--<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>-->
                                                                <!--<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>-->
                                                            <!--</ul>-->
                                                        <!--</div>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash; Contact &ndash;&gt;-->
                            <!--<div id="contact" class="tab-pane fade">-->
                                <!--<div class="profile-main">-->
                                    <!--<h3>Contact the Company</h3>-->
                                    <!--<div class="profile-in">-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>-->
                                        <!--<form action="#">-->
                                            <!--<input type="text" placeholder="Name Surname" />-->
                                            <!--<input type="text" placeholder="E-mail address" />-->
                                            <!--<input type="text" placeholder="Phone Number" />-->
                                            <!--<textarea placeholder="Your Message"></textarea>-->
                                            <!--<button class="btn btn-primary">Send message</button>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
</div>


<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="/assets/js/react/organisationprofile.js"></script>

</body>
</html>