<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div id="main-wrapper">

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="compny-profile">
        <!-- SUB Banner -->
        <div class="profile-bnr">
            <div class="container">

                <div class="btn-group btn-group-justified pull-right col-xs-12">
                    <form method="POST" enctype="multipart/form-data" th:action="@{/profile/organisation/saveBackgroundImage}" th:object="${organisation}">
                        <input class="btn btn-default btn-sm col-xs-6" type="file" name="file" />
                        <input class="btn btn-default btn-sm col-xs-6" type="submit" value="upload" />
                    </form>
                </div>

                <div class="sidebar-thumbnail"> <img th:src="@{~/profile/organisation/image/background}" alt="Profile picture"/> </div>

                <!-- User Info -->
                <div class="user-info">
                    <h1>
                        Organic Agile Cloud-Connected Fair-Trade Sheeps
                        <a data-toggle="tooltip" data-placement="top" title="Verified Member">
                            <img th:src="@{/assets/images/icon-ver.png}" alt="" />
                        </a>
                    </h1>
                    <h6>category</h6>
                    <p>address city, country zipcode  (<a href="#.">map</a> / <a href="#.">street</a>)</p>

                    <!-- Social Icon -->
                    <div class="social-links">
                        <a href="#.">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#.">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#.">
                            <i class="fa fa-google"></i>
                        </a>
                        <a href="#.">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                    <!-- Stars -->
                    <ul class="row">
                        <li class="col-sm-6">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(06)</span>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <p><i class="fa fa-bookmark-o"></i> 28 Bookmarks</p>
                        </li>
                    </ul>

                    <!-- Followers -->
                    <div class="followr">
                        <ul class="row">
                            <li class="col-sm-6">
                                <p>Followers <span>(31)</span></p>
                            </li>
                            <li class="col-sm-6">
                                <p>Following <span>(38)</span></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Top Right Button -->
                <div class="right-top-bnr">
                    <div class="connect">
                        <a href="#." data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i>Connect</a>
                        <a href="#."><i class="fa fa-share-alt"></i> Share</a>
                        <div class="bt-ns">
                            <a href="#."><i class="fa fa-bookmark-o"></i></a>
                            <a href="#."><i class="fa fa-envelope-o"></i></a>
                            <a href="#."><i class="fa fa-exclamation"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal POPUP -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="container">
                            <h6>
                                <a class="close" href="#." data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a> Send Message
                            </h6>

                            Forms
                            <form action="#">
                                <ul class="row">
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="First Name "/>
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Last Name"/>
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Country"/>
                                    </li>
                                    <li class="col-xs-6">
                                        <input type="text" placeholder="Email"/>
                                    </li>
                                    <li class="col-xs-12">
                                        <textarea placeholder="Your Message"></textarea>
                                    </li>
                                    <li class="col-xs-12">
                                        <button class="btn btn-primary">Send message</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SUB Banner -->

        <!-- Profile Company Content -->
        <div class="profile-company-content" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">

                    <!-- SIDE BAR -->
                    <div class="col-md-4">

                        <!-- Company Information -->
                        <div class="sidebar">
                            <h5 class="main-title">Organisation Information</h5>

                            <!-- profile image uploader -->
                            <!-- todo: make buttons less fugly -->
                            <div class="btn-group btn-group-justified pull-right col-xs-12">
                                <form method="POST" enctype="multipart/form-data" th:action="@{/profile/organisation/saveProfileImage}" th:object="${organisation}">
                                    <input class="btn btn-default btn-sm col-xs-6" type="file" name="file" />
                                    <input class="btn btn-default btn-sm col-xs-6" type="submit" value="upload" />
                                </form>
                            </div>

                            <div class="sidebar-thumbnail"> <img th:src="@{~/profile/organisation/image/profile}" alt="Profile picture"/> </div>
                            <div class="sidebar-information">
                                <ul class="single-category">
                                    <li class="row">
                                        <h6 class="title col-xs-6">Category</h6>
                                        <span class="subtitle col-xs-6">category</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Location</h6>
                                        <span class="subtitle col-xs-6">city, country</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Open opportunities</h6>
                                        <span class="subtitle col-xs-6">number of open opportunities</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Spoken languages</h6>
                                        <span class="subtitle col-xs-6">spoken_languages</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Contacts</h6>
                                        <div class="col-xs-6">
                                            <span class="subtitle">*****************<i class="fa fa-exclamation-circle"></i></span>
                                            <span class="subtitle">***************** <i class="fa fa-exclamation-circle"></i></span>
                                            <a href="#.">example@example.com</a>
                                            <a href="#.">example.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Company Rating -->
                        <div class="sidebar">
                            <h5 class="main-title">Organisation Rating</h5>
                            <div class="sidebar-information">
                                <ul class="single-category com-rate">
                                    <li class="row">
                                        <h6 class="title col-xs-6">Expertise:</h6>
                                        <span class="col-xs-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                    </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Knowledge:</h6>
                                        <span class="col-xs-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                    </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Quality:</h6>
                                        <span class="col-xs-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                    </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Price:</h6>
                                        <span class="col-xs-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                    </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Services:</h6>
                                        <span class="col-xs-6">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Company Rating -->
                        <div class="sidebar">
                            <h5 class="main-title">Contact</h5>
                            <div class="sidebar-information form-side">
                                <form action="#.">
                                    <input type="text" placeholder="Name and Surname"/>
                                    <input type="email" placeholder="E-mail address"/>
                                    <textarea placeholder="Your Message"></textarea>
                                    <button class="btn btn-primary">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Content -->
                    <div class="col-md-8">
                        <div class="tab-content">

                            <!-- PROFILE -->
                            <div id="profile" class="tab-pane fade in active">
                                <div class="profile-main">
                                    <h3>About the Organisation</h3>
                                    <div class="profile-in">
                                        <div class="image-part"> <img th:src="@{/assets/images/profile-img.jpg}" alt="" /> </div>
                                        <h6>Our mission</h6>
                                        <p>Tumeric literally etsy, church-key bicycle rights small batch hell of. Health goth direct trade food truck,
                                            taxidermy tbh ramps blue bottle salvia semiotics master cleanse. Brooklyn live-edge venmo, polaroid hexagon
                                            keytar tumblr meh swag you probably haven't heard of them cold-pressed twee woke lyft bicycle rights. Food
                                            truck neutra succulents chambray woke, activated charcoal lyft tacos.</p>
                                        <h6>Description1</h6>
                                        <p>Wolf single-origin coffee echo park woke, small batch church-key pork belly. Heirloom normcore street art
                                            yuccie bitters you probably haven't heard of them roof party. Street art narwhal artisan portland, authentic
                                            truffaut crucifix letterpress hexagon banh mi sartorial marfa put a bird on it you probably haven't heard of them blog.</p>
                                        <h6>Description2</h6>
                                        <p>Iceland hella crucifix locavore put a bird on it, bespoke hammock heirloom yuccie chartreuse paleo everyday
                                            carry polaroid. Meggings unicorn cred keffiyeh paleo blog. Viral you probably haven't heard of them mustache
                                            hot chicken. Meditation lo-fi synth, knausgaard letterpress echo park fanny pack jean shorts shabby chic. </p>
                                    </div>
                                </div>

                                <!-- Services -->
                                <div class="profile-main">
                                    <h3>Opportunities</h3>
                                    <div class="profile-in profile-serv">
                                        <h6>Here’s an overview of the volunteering opportunities we provide.</h6>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img th:src="@{/assets/images/icon-prifile-1.png}" alt="" /> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Sheep herding and feeding</h6>
                                                <p>3 wolf moon kitsch farm-to-table, pinterest listicle flannel fap migas pop-up narwhal
                                                    beard copper mug edison bulb hammock 8-bit. Edison bulb leggings banjo narwhal.
                                                    Austin hell of retro chicharrones, chia asymmetrical tumblr pug tumeric. You probably
                                                    haven't heard of them man bun farm-to-table, try-hard normcore yr succulents.
                                                    Occupy skateboard synth church-key blog. Flannel readymade cronut, semiotics helvetica
                                                    vexillologist XOXO authentic gastropub gochujang.</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img th:src="@{/assets/images/icon-prifile-2.png}" alt="" /> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Sheep training and usage</h6>
                                                <p>Fashion axe twee chia vape narwhal. Venmo umami bushwick skateboard ramps you probably
                                                    haven't heard of them kickstarter semiotics taxidermy. Fam vegan dreamcatcher, irony
                                                    gluten-free celiac kale chips vice. Humblebrag scenester listicle, gastropub four loko
                                                    hella salvia roof party XOXO cray. Tumblr slow-carb chicharrones banh mi seitan, air plant
                                                    viral unicorn meh photo booth kinfolk. </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="icon"> <img th:src="@{/assets/images/icon-prifile-3.png}" alt="" /> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6>Sheep diagnostics and repairs</h6>
                                                <p>Paleo heirloom godard ennui, la croix normcore cardigan tacos. Food truck etsy venmo
                                                    plaid artisan flexitarian small batch seitan. Tacos wayfarers 8-bit try-hard, skateboard
                                                    pabst humblebrag typewriter bespoke. 3 wolf moon raw denim tbh narwhal asymmetrical mlkshk,
                                                    meggings copper mug scenester knausgaard master cleanse unicorn gentrify bicycle rights
                                                    waistcoat. Retro four loko hell of, selfies keytar copper mug live-edge roof party. Seitan
                                                    semiotics green juice, church-key la croix polaroid actually meditation forage blue bottle
                                                    craft beer. Pabst letterpress glossier ugh fanny pack.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>