<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="main-wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="compny-profile">

        <!-- SUB Banner -->
        <div class="profile-bnr sub-bnr user-profile-bnr">
            <div class="position-center-center">
                <div class="container">
                    <h2 class="pull-left">Search Opportunities</h2>
                </div>
            </div>
        </div>

        <!-- search -->
        <div class="search-pro">
            <div class="map-search">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <!--Filter-->
                                <div class="filter-flower">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h5>Filter by time</h5>
                                            <div class="col-md-3">
                                                <input type="date"
                                                       name="availabilityFrom"
                                                       placeholder="from"
                                                       class="availabilityFrom"
                                                       id="react-time-from"/>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="date"
                                                       name="dateAvailabilityTo"
                                                       placeholder="to"
                                                       class="dateAvailabilityTo"
                                                       id="react-time-to"/>
                                            </div>
                                        </div>
                                        <div class="row" id="react-dropdown-filter"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="compny-profile">
            <!-- Profile Company Content -->
            <div class="profile-company-content" data-bg-color="fff">
                <div class="container">
                    <div class="row">

                        <!-- Tab Content -->
                        <div class="col-md-12">
                            <div class="network">

                                <!-- Tab Content -->
                                <div class="tab-content">

                                    <!-- Connections -->
                                    <div id="connec" class="tab-pane fade in active">
                                        <div class="net-work-in">

                                            <!-- Members -->
                                            <div class="main-mem">

                                                <!-- Title -->
                                                <div class="folow-persons" id="react-table"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/assets/js/myReactApp.js"></script>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>