<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="main-wrapper">

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!--  HOME PRO -->
    <div class="home-pro">
        <!--  PRO BANNER HEAD -->
        <div class="banr-head">
            <div class="container">
                <div class="row">
                    <!--  CONTENT -->
                    <div class="col-sm-7">
                        <div class="text-area">
                            <div class="position-center-center col-md-10">
                                <h1>
                                    To go fast go alone,
                                </h1>
                                <h1>
                                    to go far go together!
                                </h1>
                                <h5>Volunti helps to connect Organisations with Volunteers</h5>
                            </div>
                        </div>
                    </div>
                    <!--  FORM SECTION -->
                    <div class="col-sm-5">
                        <div class="login-sec">
                            <!--  TABS -->
                            <!-- TABS -->
                            <div class="uou-tabs">
                                <ul class="tabs">
                                    <li class="active"><a href="#register">Register Now</a></li>
                                    <li ><a href="#log-in">Member Login</a></li>
                                </ul>


                                <div class="content">

                                    <!-- REGISTER -->
                                    <div id="register"  class="active">
                                        <ul class="tabs register">
                                            <li>
                                                <form th:action="@{/registration/organisation/step1}" method="get">
                                                    <p>I have an Organization, I need volunteers for my projects.</p>
                                                    <button type="submit">ORGANISATION</button>
                                                </form>
                                            </li>
                                            <li>
                                                <form th:action="@{/registration/volunteer/step1}" method="get">
                                                    <p>I am a Volunteer, I'm looking for an organization with opportunities. </p>
                                                    <button type="submit">VOLUNTEER</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--  LOGIN -->
                                    <div id="log-in">
                                        <form action="">
                                            <input type="email" placeholder="Email Address"/>
                                            <input type="password" placeholder="Password"/>
                                            <button type="submit">Login</button>
                                            <div class="login-with">
                                                <span>Or login with:</span>
                                                <a href="#."><i
                                                        class="fa fa-facebook"></i></a>
                                                <a href="#."><i
                                                        class="fa fa-google"></i></a>
                                                <a href="#."><i
                                                        class="fa fa-linkedin"></i></a>
                                            </div>
                                            <div class="forget">
                                                Forgot your password? <a th:href="@{/forgotPassword}">Click Here</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="forget">
                                        <form action="">
                                            <input/>
                                            <button
                                                    type="submit">Login
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  SERVICES -->
        <section class="services">
            <!--  SERVICES ROW -->
            <ul class="row">
                <!--  SECTION -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-globe"></i>
                        <h4>
                            Stay in touch with your colleagues
                        </h4>
                        <i class="fa fa-globe big"></i>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Proin nibh augue conseqaut
                            nibbhi ellit ipsum consectetur.
                        </p>
                    </div>
                </li>
                <!--  SECTION -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-book"></i>
                        <h4>
                            Get the latest news in your industry
                        </h4>
                        <i class="fa fa-book big"></i>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Proin nibh augue conseqaut
                            nibbhi ellit ipsum consectetur.
                        </p>
                    </div>
                </li>
                <!--  SECTION -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-picture-o"></i>
                        <h4>
                            Share what's up with you with your friends
                        </h4>
                        <i class="fa fa-picture-o big"></i>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Proin nibh augue conseqaut
                            nibbhi ellit ipsum consectetur.
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <!--  PRO SECTION -->
        <section class="pro-content">
            <div class="container-fluid">
                <div class="row">
                    <!--  PRO IMAGE -->
                    <div class="col-md-6 pro-inside"
                         style="background:url(/assets/images/pro-img-1.jpg) center center no-repeat;"></div>
                    <!--  PRO CONTENT -->
                    <div class="col-md-6 pro-inside">
                        <div class="position-center-center col-md-6">
                            <h1>
                                Interact with other professionals
                            </h1>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt
                                explicabo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  PRO SECTION -->
            <div class="container-fluid">
                <div class="row">
                    <!--  PRO TEXT -->
                    <div class="col-md-6 pro-inside">
                        <div class="position-center-center col-md-6">
                            <h1>
                                Collaborate on a project
                            </h1>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt
                                explicabo.
                            </p>
                        </div>
                    </div>
                    <!--  PRO BACKGROUND -->
                    <div class="col-md-6 pro-inside"
                         style="background:url(/assets/images/pro-img-2.jpg) center center no-repeat;"></div>
                </div>
            </div>
        </section>

        <!--  TESTIMONIALS -->
        <section class="clients-says">
            <div class="container">
                <h3 class="section-title">
                    what our users say
                </h3>
                <div class="testi">
                    <div class="texti-slide">
                        <!--  SLide -->
                        <div class="clints-text">
                            <div class="text-in">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                </p>
                            </div>
                            <div class="avatar">
                                <div class="media-left">
                                    <a href="#."> <img
                                            src="/assets/images/clients-avatar-1.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h6>
                                        John Kevin Mara
                                    </h6>
                                    <span>smashingmagazine.com</span>
                                </div>
                            </div>
                        </div>
                        <!--  SLide -->
                        <div class="clints-text">
                            <div class="text-in">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                </p>
                            </div>
                            <div class="avatar">
                                <div class="media-left">
                                    <a href="#."> <img
                                            src="/assets/images/clients-avatar-1.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h6>
                                        John Kevin Mara
                                    </h6>
                                    <span>smashingmagazine.com</span>
                                </div>
                            </div>
                        </div>
                        <!--  SLide -->
                        <div class="clints-text">
                            <div class="text-in">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Proin nibh augue.
                                </p>
                            </div>
                            <div class="avatar">
                                <div class="media-left">
                                    <a href="#."> <img
                                            src="/assets/images/clients-avatar-1.jpg" alt=""/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h6>
                                        John Kevin Mara
                                    </h6>
                                    <span>smashingmagazine.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  sponsors -->
        <div class="sponsors" style="background:url(/assets/images/sponser-bg.jpg) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">
                            Our Sponsors
                        </h3>
                        <div class="sponsors-slider">
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo1.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo2.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo3.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo4.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo5.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo6.png"
                                        alt="" class="img-responsive"/>
                            </div>
                            <div class="item">
                                <img
                                        src="/assets/images/sponsor_logo4.png"
                                        alt="" class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>