<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>

<body>
<div id="main-wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="compny-profile">

        <!-- SUB Banner -->
        <div class="profile-bnr user-profile-bnr">
            <div class="container">
                <div class="pull-left">
                    <h2>New Opportunity</h2>
                </div>
            </div>
        </div>

        <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">

                    <!-- Nav Tabs -->
                    <div class="col-md-12">
                        <ul class="nav nav-tabs not-clickable">
                            <li class="active"><a>Step 1</a></li>
                            <li><a>Step 2</a></li>
                            <li><a>Step 3</a></li>
                            <li><a>Step 4</a></li>
                        </ul>
                        </div>


                    <!-- Tab Content -->
                    <div class="col-md-12">
                        <div class="tab-content">

                            <!-- Registration form -->
                            <div id="contact" class="tab-pane fade in active">
                                <div class="profile-main">

                                    <h3>Set up your Opportunity:</h3>

                                    <div class="profile-in">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis
                                            tenetur
                                            velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate
                                            quasi,
                                            dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>

                                        <form role="form" th:action="@{/organisation/} + ${organisation.organisationId} + @{/opportunity/new}" th:object="${opportunity}" method="post"
                                              class="opportunity-form">
                                            <fieldset style="border: 0">
                                                <h4>Opportunity title</h4>
                                                <div class="row">
                                                    <div class="col-sm-6 ">
                                                        <input type="text" name="title" id="title" autofocus="autofocus"
                                                               required="required"
                                                               placeholder="What are you looking for? "
                                                               class="form-first-name form-control"
                                                               data-validation="length alphanumeric" data-validation-length="min3"
                                                               data-validation-error-msg="Please fill the title field! "
                                                               th:field="*{title}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur
                                                            velit! Provident eum molestias aperiam suscipit distinctio
                                                            ipsum
                                                            cupiditate quasi,
                                                            dolor sunt, cum reprehenderit quibusdam, repellendus eaque,
                                                            quas
                                                            magni.</p>
                                                    </div>
                                                </div>
                                                <h4>Skills</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="control-group">
                                                            <div class="custom-select-box">
                                                                <select id="select-state" name="state[]"
                                                                        multiple="multiple"
                                                                        class="demo-default"
                                                                        style="width:50%"
                                                                        data-validation="required"
                                                                        data-validation-length="min1"
                                                                        data-validation-error-msg="Please select a skill"
                                                                        placeholder="What skills do you require?"
                                                                        th:field="*{opportunitySkills}">
                                                                    <option value="">Select a state...</option>
                                                                    <option th:each="skill : ${skills}"
                                                                            th:value="${skill.id}"
                                                                            th:text="${skill.name}">
                                                                    </option>
                                                                </select>
                                                                <script src="/assets/js/custom.js"></script>

                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                    elit.
                                                                    Voluptate quis tenetur velit! Provident eum
                                                                    molestias aperiam
                                                                    suscipit distinctio ipsum cupiditate quasi, dolor
                                                                    sunt, cum
                                                                    reprehenderit quibusdam, repellendus eaque, quas
                                                                    magni.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4>Number of
                                                    volunteers</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" name="skills" required="required"
                                                               placeholder="What skills do you require?"
                                                               class="numberOfVolunteers" id="numberOfVolunteers"
                                                               data-validation="required"
                                                               data-validation-error-msg="Please fill the form with number"
                                                               th:field="*{numberOfVolunteers}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-next mb20 btn-medium btn-primary">Next
                                                </button>
                                            </fieldset>

                                            <fieldset style="border: 0">
                                                <h4>Accomodation</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" name="form-email" autofocus="autofocus"
                                                               placeholder="Type of accomodation?"
                                                               class="accommodationType" id="accommodationType"
                                                               th:field="*{accommodationType}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <h4>Food</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" name="form-password"
                                                               placeholder="Type of food / meals?" class="foodType"
                                                               id="foodType"
                                                               th:field="*{foodType}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-previous mb20 btn-medium btn-primary">
                                                    Previous
                                                </button>
                                                <button type="button"
                                                        class="btn btn-next mb20 btn-medium btn-primary">Next
                                                </button>
                                            </fieldset>

                                            <fieldset style="border: 0">
                                                <h4>Expected hours</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" name="hoursExpected" autofocus="autofocus"
                                                               placeholder="Volunteer hours expected (per day or week)"
                                                               class="form-facebook form-control"
                                                               id="hoursExpected"
                                                               th:field="*{hoursExpected}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <h4>Expected stay</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" name="hoursExpectedType"
                                                               placeholder="Minimum stay expected (number of days)"
                                                               class="form-twitter form-control" id="hoursExpectedType"
                                                               th:field="*{minimumStayInDays}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <h4>Available from -
                                                    to</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="date" name="availabilityFrom"
                                                               placeholder="Availablity  from "
                                                               class="form-google-plus form-control"
                                                               id="availabilityFrom"
                                                               th:field="*{availabilityFrom}"/>
                                                        <input type="date" name="dateAvailabilityTo"
                                                               placeholder="Availablity  to "
                                                               class="form-google-plus form-control"
                                                               id="dateAvailabilityTo"
                                                               th:field="*{dateAvailabilityTo}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur
                                                            velit! Provident eum molestias aperiam suscipit distinctio
                                                            ipsum
                                                            cupiditate quasi,
                                                            dolor sunt, cum reprehenderit quibusdam, repellendus eaque,
                                                            quas
                                                            magni.</p>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-previous mb20 btn-medium btn-primary">
                                                    Previous
                                                </button>
                                                <button type="button"
                                                        class="btn btn-next mb20 btn-medium btn-primary">Next
                                                </button>
                                            </fieldset>
                                            <fieldset style="border: 0">
                                                <h4>Costs</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" name="costs" autofocus="autofocus"
                                                               placeholder="What costs can you cover?"
                                                               class="form-facebook form-control" id="costs"
                                                               th:field="*{costs}"/>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <h4>Requirements</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                    <textarea name="requirements" placeholder="Other requirements"
                                                              class="numberOfVolunteers" id="requirements"
                                                              th:field="*{requirements}"></textarea>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Voluptate quis tenetur velit! Provident eum molestias
                                                            aperiam
                                                            suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum
                                                            reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-previous mb20 btn-medium btn-primary">
                                                    Previous
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-submit mb20 btn-medium btn-primary">Create
                                                    Opportunity!
                                                </button>
                                            </fieldset>
                                        </form>
                                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                                        <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
                                              rel="stylesheet" type="text/css" />

                                        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
                                        <script>
                                            $.validate({
//                                                lang: 'es',
                                                borderColorOnError : '#F00',
                                                addValidClassOnAll : true,
                                                validateOnBlur : true, // disable validation when input looses focus
                                                errorMessagePosition : 'top', // Instead of 'inline' which is default
                                                scrollToTopOnError : true, // Set this property to true on longer forms
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
