<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="main-wrapper">

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Main content -->
    <div class="compny-profile">
        <!-- Profile User Content -->
        <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <!-- Tab Content -->
                    <div class="col-md-6">
                        <div class="tab-content">
                            <!-- Registration form -->
                            <div id="contact" class="tab-pane fade in active col-sm-6">
                                <div class="profile-main">
                                    <h3>Set new password</h3>
                                    <div class="profile-in">
                                        <h6>Please enter your new password:</h6>
                                        <form action="#" th:action="@{/forgotPassword}" method="post">
                                            <div id="userEmailSpan" hidden="hidden"
                                                 class="alert alert-error alert-dismissible"
                                                 role="alert"></div>
                                            <input id="passWordMatcher1" type="password" minlength="1"
                                                   required="required"/>
                                            <input id="passWordMatcher2" type="password" minlength="1"
                                                   required="required"/>
                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-6">
                                                    <button id="submitButton" type="submit"
                                                            class="btn mb20 btn-medium btn-primary">Save New Password
                                                    </button>
                                                </div>
                                                <div class="col-sm-3"></div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div> <!-- / Registration form -->
                        </div>
                    </div><!-- / Tab Content -->
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <!-- / Profile Company Content -->
    </div>
    <!-- / Main content -->
</div>

<!--  Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>